extends ../../layout/default.pug 
include ../../mixins/Alert
block main 
    +alert-success(5000)
    .row 
        h1(class="mb-4") Thông tin cá nhân   
        .col-6 
            if(1)
                p Họ tên: <b>#{1}</b>
            if(1)
                p Email: <b>#{1}</b>
            if(1)
                p Số điện thoại: <b>#{1}</b>
            p
                span Trạng thái: 
                span 
                    <b>#{1 == "active" ? "Hoạt động" : "Dừng hoạt động"}</b>
            if(1)
                p Phân quyền: <b>#{1}</b>
        .col-6
            if(1)
                img(src=1, alt="",  width="150px", class="mb-3")
    a(
        href=`${prefixAdmin}/my-account/edit`
        class="btn btn-primary"
    ) Chỉnh sửa thông tin